
{% comment %}
	
	field: field value.

{% endcomment %}

<div class="control-group{% if field.errors %} error{%endif%}">
	<label class="control-label" for="{{field.auto_id}}">{{field.label}}</label>
	
	<div class="controls">
		<div class="input-append date" id="{{field.auto_id}}_picker" 
			data-date="{{field.value|date:"Y-m-d"}}" 
			data-date-format="yyyy-mm-dd">
			<input id="{{field.auto_id}}" type="text" 
				value="{{field.value|date:"Y-m-d"}}" 
				name="{{field.name}}" readonly>
			<span class="add-on"><i class="icon-calendar"></i></span>
		</div>
		
		{% if field.errors %}
		<span class="help-block">
			{{ field.errors|striptags }}
		</span>
		{% endif %}
		
	</div>
</div>
