{% extends "automaintenance/car_base.html" %}

{% load staticfiles %}

{% block extrahead %}
<link href="{% static "css/datepicker.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}

<div class="page-header">
	<h1>{{ car }} <small>{% block report_type %}Empty Report{%endblock%}</small></h1>
</div>

<div class="row">
	{% if maintenance_list %}
	<div id="placeholder" class="span12" style="height: 300px">&nbsp;</div>
	{% else %}
	<div class="span12">
		<h2 class="text-center">No Data</h2>
	</div>
	{% endif %}
</div>

<div class="row">

	<div class="span10 offset1">
		<form method="get" action="." class="form-inline text-center">
			<div class="input-append date" id="start_date_picker" data-date="{{start_date|date:"Y-m-d"}}" data-date-format="yyyy-mm-dd">
				<input class="input-small" type="text" value="{{start_date|date:"Y-m-d"}}" name="start_date" readonly>
				<span class="add-on"><i class="icon-calendar"></i></span>
			</div>
			<i class="icon-arrow-right"></i>
			<div class="input-append date" id="end_date_picker" data-date="{{end_date|date:"Y-m-d"}}" data-date-format="yyyy-mm-dd">
				<input class="input-small" type="text" value="{{end_date|date:"Y-m-d"}}" name="end_date" readonly>
				<span class="add-on"><i class="icon-calendar"></i></span>
			</div>

			<input type="submit" value="Update" class="btn btn-info">
		</form>
	</div>

</div>

{% include "automaintenance/maintenance_list_include.html" with type="Gasoline" hide_edit=True %}

{% endblock %}

{% block extrascript %}
	
	<script type="text/javascript" src="{% static "js/jquery.flot.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.flot.time.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
	
	<script type="text/javascript">
	
		$(function() {
	
			{% if maintenance_list %}
				var time_based_data_set = [
				
					{% block time_based_data_set %}
	
					{% endblock %}
				
				]; 
				
				{% block additional_data_sets %}
				{% endblock %}
				
				var data_sets = [{% block data_sets %}time_based_data_set{% endblock %}];
		
				$.plot("#placeholder", data_sets, {
					lines: { show:true },
					points: { show: true, fill: false },
					xaxis: { mode: "time", timeformat: "%Y/%m/%d" }
				});
			{% endif %}
			
			$('#start_date_picker').datepicker();
			$('#end_date_picker').datepicker();
		});
	</script>

{% endblock %}
