{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>{{trip.name}} 
		<small>
			{{trip.start|date:"N d 'y"}}
			{% if trip.end %}
			 - {{trip.end|date:"N d 'y"}}
			{% endif %}
		</small>
	</h1>
</div>

<div class="row">
	<div class="span6">
		<dl class="dl-horizontal">
			<dt>
				Car:
			</dt>
			<dd>
				{{trip.car}}
			</dd>
			<dt>
				Total Price:
			</dt>
			<dd>
				{{total_price}}
			</dd>
			<dt>
				Total Mileage:
			</dt>
			<dd>
				{{total_mileage}}
			</dd>
		</dl>
	</div>
</div>
  
{% include "automaintenance/maintenance_list_include.html" %}

{% endblock %}
