{% extends "automaintenance/car_base.html" %}

{% block content %}

<div class="page-header">
	<h1>{{trip.name}} 
		<small>
			{{trip.start|date:"N d 'y"}}
			{% if trip.end %}
			 - {{trip.end|date:"N d 'y"}}
			{% endif %}
		</small>
	</h1>
</div>

<div class="row">
	<div class="span6">
		<dl class="dl-horizontal">
			<dt>
				Car:
			</dt>
			<dd>
				{{trip.car}}
			</dd>
			<dt>
				Total Price:
			</dt>
			<dd>
				{{total_price}}
			</dd>
			<dt>
				Total Mileage:
			</dt>
			<dd>
				{{total_mileage}}
			</dd>
		</dl>
	</div>
	
	<div class="span2 offset4">
		<a class="btn" href="{% url 'auto_maintenance_edit_trip' trip.car.slug trip.slug %}">Edit</a>
		<a class="btn btn-danger" href="{% url 'auto_maintenance_delete_trip' trip.car.slug trip.slug %}">Delete</a>
	</div>
</div>
  
{% include "automaintenance/maintenance_list_include.html" %}

{% endblock %}
