{% extends "base.html" %}

{% block extrahead %}
  <style type="text/css">
    .car_detail_details {
      margin-left: 10px;
    }
  </style>
{% endblock %}

{% block content %}

    <div class="car_detail_header">
      <h1>{{car.name}}</h1>
    </div>
    <div class="yui3-g">
      <div class="yui3-u-1-2">
        <div class="car_detail_details">
          <p>Owner: {{car.owner.username}}</p>
          <p>Type: {{car.car_type}}</p>
        </div>
      </div>
    
      <div class="yui3-u-1-4 car_detail_commands">
        <p><a href="{% url auto_maintenance_create_gas_maintenance car.slug %}">Add Gasoline Purchase</a></p>
        <p><a href="{% url auto_maintenance_create_scheduled_maintenance car.slug %}">Add Scheduled Maintenance</a></p>
        <p><a href="{% url auto_maintenance_create_oil_change car.slug %}">Add Oil Change</a></p>
      </div>

      <div class="yui3-u-1-4 car_detail_trips">
        <p><a href="{% url auto_maintenance_create_trip car.slug %}">Create Trip</a></p>

        <p>Trips</p>
        <ul>
          {% for trip in trip_list %}
            <li><a href="{{ trip.get_absolute_url }}">{{trip.name}}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>

  

    <div class="yui3-u-1">
      <h2>Maintenance</h2>
      <ul>
      {% for record in maintenance_list %}
        <li><a href="{{ record.get_absolute_url }}">{{record}}</a></li>	
      {% endfor %}
      </ul>
    </div>


  </div>

{% endblock %}
